@page "/"

<PageTitle>Profile</PageTitle>

<NavMenu />

<main id="main">
    <AboutArea />
    <SkillArea />
    <ResumeTimeline />
    <OSContribution /><!--Open Source Contribution-->
    <Services />
    <Contacts />
</main>

